{% extends "base.html" %}
{% block main %}
<div class="span12">
	<form id="file_upload"
				method="post"
				enctype="multipart/form-data"
				hidden>
	</form>
	<div class="well">
		<div class="row show-grid">
			<table class="table" align="center" style="width:70%">
				<thead>
					<tr>
						<th style="width:100%;">Files to upload:</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<input type="file"
										 form="file_upload"
										 name="file"
										 id="upload_file"
										 style="height:28px;width:220px"
										 required>
							<br>
							<label for="upload_type">Type:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
							<input id="upload_type"
										 form="file_upload"
										 class="easyui-combobox"
										 name="upload_type"
										 style="width:50%"
										 data-options="
											data: [{'text': 'SOP',
															'type': 'sops'},
														 {'text': 'Data File',
															'type': 'data_files'}],
											valueField: 'type',
											textField: 'text'"
										 required>
							<br>
							<label for="project_id">Lab:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
							<input id="project_id"
										 form="file_upload"
										 class="easyui-combobox"
										 name="project_id"
										 style="width:50%;"
										 data-options="data: lab_options,
																	 valueField: 'id',
																	 textField: 'title',
																	 editable: true,
																	 filter: function(q, row) {
																		 var opts = $(this).combobox('options');
																		 return row[opts.textField].toUpperCase().indexOf(q.toUpperCase()) >= 0;
																 	 },
																	 onSelect: function(rec) { setLabUsers(rec); }"
										 required>
							<br>
							<label for="person_id">Creator:&nbsp;&nbsp;</label>
							<input id="person_id"
										 form="file_upload"
										 class="easyui-combobox"
										 name="person_id"
										 style="width:50%;"
										 data-options="valueField: 'id',
																	 textField: 'title',
																	 editable: false">
							<br>
							<br>
							<button type="submit"
											class="easyui-linkbutton"
											form="file_upload"
											data-options="iconCls:'icon-add',plain:true">
								Upload Files
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="well">
	<div class="span12">
		<b>Logs:</b>
	</div>
	<div class="span12">
		<div id="messages" style="border: 1px solid black;width:100%; max-width:100%; min-width:600px; min-height: 30vh;">
		</div>
	</div>
</div>

<script defer>
	const file_upload_form = document.getElementById("file_upload");
	const file = document.getElementById("upload_file");
	const statusBox = document.getElementById("messages")

	const lab_options = {{ report.lab_options | safe }}.slice(1);
	const all_lab_users = {{ report.all_lab_users | safe }};

	const seek_url = "{{ report.seek_url }}";

	function setLabUsers(rec) {
		var users = all_lab_users[rec.id]
		users[0]['selected'] = true
		var person_form = $('#person_id').combobox()
		person_form.combobox('loadData', users)
	}

	function getCookie(name) {
		let cookieValue = null;
		if (document.cookie && document.cookie !== '') {
			const cookies = document.cookie.split(';');
			for (let i = 0; i < cookies.length; i++) {
				const cookie = cookies[i].trim();
				if (cookie.substring(0, name.length + 1) === (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}

	async function uploadFiles() {
		const upload_file = document.getElementById('upload_file').files[0]
		const project_id = document.getElementById('project_id').value
		const person_id = document.getElementById('person_id').value
		const upload_type = document.getElementById('upload_type').value
	  let payload = {
			"data": {
		    "type": `${upload_type}`,
		    "attributes": {
		      "title": `${upload_file.name}`,
		      "content_blobs": [
		        {
		          "original_filename": `${upload_file.name}`,
		          "content_type": `${upload_file.type}`
		        }
		      ]
		    },
		    "relationships": {
		      "projects": {
		        "data": [
		          {
		            "id": `${project_id}`,
		            "type": "projects"
		          }
		        ]
		      }
		    }
		  }
		}
		
		try {
			const response = await fetch(`/nextseek_api/${upload_type}/`, {
				method: "POST",
				headers: {"X-CSRFTOKEN": getCookie("csrftoken"),
									"Content-Type": "application/json"},
				body: JSON.stringify(payload)
			});
			if (response.ok) {
				const response_json = await response.json()
				const link = seek_url + response_json.data.links.self
				statusBox.innerHTML += `<p>The file was successfully uploaded: <a href="${link}">${link}</a></p>`
			} else {
				statusBox.innerHTML += "Could not upload file."
			}
		} catch (e) {
			console.error(e);
			statusBox.innerHTML += "Could not upload file due to error."
		}
	}

	file_upload_form.addEventListener("submit", (event) => {
		event.preventDefault();
		uploadFiles()
	});
</script>
{% endblock %}
