{% extends "base.html" %}
{% block main %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/sha1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/sha1-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/lib-typedarrays-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
<link rel="stylesheet" media="screen, print" href="{{STATIC_URL}}css/formplugins/dropzone/dropzone.css">
<script type="text/javascript" src="{{STATIC_URL}}js/formplugins/dropzone/dropzone.js"></script>
<script type="text/javascript">
	function verifyFile(form){
		alert("Add file");
		return false;
	}
	var lab_options = {{ report.lab_options|safe }};
	function getLabUsers(rec) {
		if(rec.id==0){
			return;
		}
		var url = '/seek/instituion/id=' + rec.id + '/';
		$.get(url,
			{},
			function(data){
				var obj = jQuery.parseJSON(data);
                var msg = obj.msg;
				var status = obj.status;
				if(status==1){
					var user_options = obj.userOptions;
					$('#user_names').combobox('loadData', user_options);
				}
				else {
					alert(msg);
				}
				return;
			}
        );	
	}

	function showFileErrorMsg(errorMsg) {
		var header = '<div class="alert alert-danger alert-block"><h4 class="alert-heading">File Upload Failed!</h4></div>';
		var todo = '<div><h5><b>Please upload the file again and refer to the excel file returned to fix any error highlighted.</b></h5></div>';
		var msginfo = '<div><h5>' + errorMsg + '</h5></div>';
		var content = header + todo + msginfo;
		$.messager.alert({
			title: 'File uploading...',
			msg: content,
			icon: 'error',
			width: 500
		});
		return;
	}
	
	function showFileWarningMsg(warningMsg) {
		var header = '<div class="alert alert-block alert-warning"><h4 class="alert-heading">Warning!</h4></div>';
		var todo = '';
		var msginfo = '<div><h5><b>' + warningMsg + '</b></h5></div>';
		var content = header + todo + msginfo;
		$.messager.alert({
			title: 'File uploading...',
			msg: content,
			icon: 'warning',
			width: 500
		});
		return;
	}
	
	function showFileInfoMsg(infoMsg) {
		var header = '<div class="alert alert-info alert-block"><h4 class="alert-heading">Info!</h4></div>';
		var todo = '<div><h5><b>The file uploading has finished successfully. Refer to the table below for file UIDs.</b></h5></div>';
		var msginfo = '<div><h5>' + infoMsg + '</h5></div>';
		var content = header + todo + msginfo;
		$.messager.alert({
			title: 'File uploading...',
			msg: content,
			icon: 'info',
			width: 500
		});
		return;
	}
	
    function uploadOneFileIntoSeek(originalfilename, file_content_type, url_upload){
		var filetype = document.getElementById("id_filetype").value;
		var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
		var formdata = new FormData($('form').get(0));
		formdata.append("filetype", filetype);
		formdata.append('originalfilename', originalfilename);
		formdata.append('content_type', file_content_type);
		formdata.append('csrfmiddlewaretoken', '{{ csrf_token }}');
		var msg = 'Upload the following file into Seek: ' + originalfilename + '  ' + file_content_type;
		$.ajax(url_upload,
			{
				type: 'POST',
				enctype: "multipart/form-data",
				data: formdata,
				processData: false,
				contentType: false,
				success: console.log('success!')
			}
		)
		.done(function( data ) {
		    var obj = jQuery.parseJSON(data);
		    var msg = obj.msg;
		    var status = obj.status;
		    var newrow = obj.newrow;
		    if(status==1){
				updateDatafileRow(originalfilename, newrow)
				return true;
		    }
		    else {
				updateDatafileRow(originalfilename, newrow)
				return true;	
		    }
		});
    }
	
    function uploadFilesIntoSeek(url_uploadSeek){
		var records = [];
		var dg = $('#dgtable');
		var rows = dg.datagrid('getRows');
		var total = rows.length;
		for(var i=0,len=rows.length; i<len; i++){
		    if (rows[i]['notes'] == 'File uploaded to storage server'){
				row = rows[i];
				uploadOneFileIntoSeek(row.originalname, row.content_type, url_uploadSeek);
				var proValue = (i+1)*100/total;
				var bar = $.messager.progress('bar');  
				bar.progressbar('setValue', proValue);  
			}
		}
		$.messager.progress('close');
		alert("Files uploaded! \nClick 'Export To Excel' button in the table below to download the list.");
		return;
    }
	
    function submitFilesIntoSeek_v2(url_uploadSeek, ntotal, records){
		if(ntotal==0){
			var msg = 'No file is ready to be uploaded into Seek';
			showFileWarningMsg(msg);
		    return;
		}
		var msg = 'Files uploaded to the server, waiting for uploading into Seek...'
		var msginfo = '<div><h5><b>' + msg + '</b></h5></div>';
		var win = $.messager.progress({
			title:'Please wait ...',
			msg: msginfo,
			//interval: 0,
			width: 500
		});
		
		for(var i=0,len=records.length; i<len; i++){
		    var record = records[i];
		}
		var filetype = document.getElementById("id_filetype").value;
		var instituion_id = document.getElementById("user_labs").value;
		var people_id = document.getElementById("user_names").value;
		var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
		var formdata = new FormData($('form').get(0));
		formdata.append("filetype", filetype);
		formdata.append("instituion_id", instituion_id);
		formdata.append("people_id", people_id);
		formdata.append('records', JSON.stringify(records));
		formdata.append('csrfmiddlewaretoken', '{{ csrf_token }}');
		$.ajax(url_uploadSeek,
		    {
				type: 'POST',
				enctype: "multipart/form-data",
				data: formdata,
				processData: false,
				contentType: false,
				//contentType: 'multipart/form-data',
				success: console.log('success!')
		    }
		)
		.done(function( data ) {
		    var obj = jQuery.parseJSON(data);
		    var msg = obj.msg;
		    var status = obj.status;
		    var newrows = obj.newrows;
		    for(var i=0,len=newrows.length; i<len; i++){
				var newrow = newrows[i];
				var originalfilename = newrow.originalname;
				updateDatafileRow(originalfilename, newrow);
		    }
			
		    $.messager.progress('close');
		    if(status==1){
				showFileInfoMsg('');
		    }
		    else {
				var warningMsg = 'The file uploading has finished with the following error message: ' + msg;
				showFileWarningMsg(warningMsg);
		    }
		});
    }
	
    function uploadFilesIntoSeek_v2(url_uploadSeek){
		var records = [];
		var dg = $('#dgtable');
		var rows = dg.datagrid('getRows');
		var total = rows.length;
		var ntotal = 0;
		var etotal = 0;	
		var eMsg = ''; 
		for(var i=0,len=rows.length; i<len; i++){
		    var row = rows[i];
		    if (row['notes']=='File uploaded to storage server'){
				var record = {}
				for(var key in row) {
				    var value = row[key];
				    record[key] = value;
				}
                records.push(record);
				ntotal += 1;
		    }
		    else{
                if(row['notes']=='Warning: File already uploaded in Seek'){
				    var msg = 'Warning: File already uploaded in Seek: ' + rows[i]['originalname']
				    msg += '.\n Do you want to upload the file as a newer version?';
					var header = '<div class="alert alert-info alert-warning"><h4 class="alert-heading">Confirmation!</h4></div>';
					var todo = '';
					var msginfo = '<div><h5><b>' + msg + '</b></h5></div>';
					var content = header + todo + msginfo;
					$.messager.confirm({
						title: 'File uploading...',
						msg: content,
						width: 500,
						fn: function(r){
							var record = {}
							for(var key in row) {
							    var value = row[key];
							    record[key] = value;
							}
							if (r){
							    records.push(record);
							    ntotal += 1;
							}
							else{
							    var originalname = row['originalname'];
							    record['notes'] = row['notes'] + ': no update';
							    updateDatafileRow(originalname, record);
								etotal += 1;
								eMsg += originalname + ': already uploaded in Seek, no update; </br>';
							}
						}
					});
				}
				else{
					var originalname = row['originalname'];
					var notes = row['notes'];
					etotal += 1;
					eMsg += originalname + ': ' + notes + '; </br>';
				}
		    }
		}
		
		if(ntotal==total){
			submitFilesIntoSeek_v2(url_uploadSeek, ntotal, records);
			return;
		}
		
		if(etotal==total){
			var header = '<div class="alert alert-block alert-warning"><h4 class="alert-heading">Warning!</h4></div>';
			var todo = '<div><h5><b>Due to the reason below, no file will be uploaded into Seek system. Try again after fixing the issue accordingly.</b></h5></div>';
			var msginfo = eMsg;
			var content = header + todo + msginfo;
			$.messager.alert({
				title: 'File uploading...',
				msg: content,
				icon: 'warning',
				width: 500
			});
			return;
		}
		
		var header = '<div class="alert alert-info alert-warning"><h4 class="alert-heading">Confirmation!</h4></div>';
		var todo = '<div><h5><b>Due to the reason below, only ' + ntotal.toString() + ' files will be uploaded into Seek systen. Do you want to continue?</b></h5></div>';
		var msginfo = eMsg;
		var content = header + todo + msginfo;
		$.messager.confirm({
			title: 'File uploading...',
			msg: content,
			width: 500,
			fn: function(r){
				if (r){
					submitFilesIntoSeek_v2(url_uploadSeek, ntotal, records);
					return;
				}
				else{
					return;
				}
				return;
			}
		});
		return;
    }
	
	function getFileCecksum(file){
		var msg = 'Calculating the MD5 checksum for file uploading...'
		var msginfo = '<div><h5><b>' + msg + '</b></h5></div>';
		var win = $.messager.progress({
				title:'Please wait ...',
				msg: msginfo,
				width: 500
		});
		var reader = new FileReader();
		reader.onload = function(event) {
			var file_result = event.target.result;
            var file_wordArr = CryptoJS.lib.WordArray.create(file_result); 
		    var md5 = CryptoJS.MD5(file_wordArr).toString();
		    var datadic = {'id': index, 'UID':''};
		    datadic['originalname'] = file.name;
		    datadic['md5'] = md5;
		    datadic['size'] = file.size;
		    $('#dgtable').datagrid('appendRow',datadic);
			$.messager.progress('close');
        };
        reader.onerror = function() {
            console.error("Could not read the file");
			$.messager.progress('close');
        };
		reader.readAsArrayBuffer(file); //read file as ArrayBuffer
    }
	
	function getFileCecksum2(filename){
		var dg = $('#dgtable');
		var rows = dg.datagrid('getRows');
		var ntotal = rows.length;
		for(var i=0,len=ntotal; i<len; i++){
		    if (rows[i]['originalname'] == filename){
				var md5 = rows[i]['md5'];
				return md5;
		    }
		}
		return 'NA';
	}
	
    function addDatafile(file, myDropzone){
		var filetype = document.getElementById("id_filetype").value;
		if(filetype=="NOTSELECTED"){
			var msg = 'Please choose a file type from the dropdown menu and drop same type of files to proceed!';
			showFileWarningMsg(msg);
		    myDropzone.removeFile(file);
		    return;
		}
		
		var files = myDropzone.files;
		var index = 1;
		if(files.length==1){
			$('#dgtable').datagrid('loadData', []);  
		}
		else{
			var count = 0;
			for(var i=0; i<files.length; i++){
				var fileIn = files[i];
				if(file.name==fileIn.name){
					count += 1;
				}
			}
			if(count>1){
				var msg = "Same file already dropped, no duplicate!";
				showFileWarningMsg(msg);
				myDropzone.removeFile(file);
				return;
			}
			index = files.length;
		}
		
		var msg = 'Calculating the MD5 checksum for file uploading...'
		var msginfo = '<div><h5><b>' + msg + '</b></h5></div>';
		var win = $.messager.progress({
				title:'Please wait ...',
				msg: msginfo,
				//interval: 0,
				width: 500
		});
		var reader = new FileReader();
		reader.onload = function(event) {
			var file_result = event.target.result;
            var file_wordArr = CryptoJS.lib.WordArray.create(file_result);
		    var md5 = CryptoJS.MD5(file_wordArr).toString();
		    var datadic = {'id': index, 'UID':''};
		    datadic['originalname'] = file.name;
		    datadic['md5'] = md5;
		    datadic['size'] = file.size;
		    $('#dgtable').datagrid('appendRow',datadic);
			$.messager.progress('close');
        };
        reader.onerror = function() {
            console.error("Could not read the file");
			$.messager.progress('close');
        };
		
		reader.readAsArrayBuffer(file); //read file as ArrayBuffer
    }
	
    function updateDatafileRow(filename, newrow){
		var dg = $('#dgtable');
		var rownow = null;
		var rows = dg.datagrid('getRows');
		var nuploaded = 0;
		var ntotal = rows.length;
		for(var i=0,len=ntotal; i<len; i++){
		    if (rows[i]['originalname'] == filename){
				rownow = rows[i];
		    }
		    if (rows[i]['notes']){
				nuploaded += 1;
		    }
		}
		var prog = Math.round(((nuploaded+1)/ntotal) * 100);
		if (!rownow){
		    return prog;
		}
		
		var index = dg.datagrid('getRowIndex', rownow);
		dg.datagrid('updateRow', {
		    index: index,
		    row: newrow
		})
		return prog;
    }
	
    function updateDatafileUIDs(){
		var allFiles = [];
        var rows = $('#dgtable').datagrid('getRows');
        for(var i=0; i<rows.length; i++){
            var row = rows[i];
		    allFiles.push(row.originalname);
        }
		if (rows.length==0){
            alert("Error: No file is present.");
            return;
		}
		var allfiles = JSON.stringify(allFiles);
		$.get('/seek/datafiles/getuids/',
		    {
				allfiles: allfiles
		    },
		    function(data){
				var obj = jQuery.parseJSON(data);
				var msg = obj.message;
				var link = obj.link;
				var status = obj.status;
				if(!status){
				    alert(msg);
				    return;
				} 
							
				var datanow = obj.rows;
				$('#dgtable').datagrid('loadData',datanow);
				window.location.href = link; 
				alert("Files uploaded successfully. Refer to the feedback csv file for their UIDs"); 	
				return;
		    }
		);
		return;
    }

    Dropzone.options.myAwesomeDropzone = {
        autoProcessQueue : false,
		maxFilesize: 2000, // MB,  defaults to 256 (MB).
		parallelUploads: 10,
		timeout: 3000000,   //The timeout for the XHR requests in milliseconds (since v4.4.0).default 30000
		addRemoveLinks: true,
        init : function() {
            var submitButton = document.querySelector("#submit-all")
            var myDropzone = this;
            submitButton.addEventListener("click", function() {
				var filetype = document.getElementById("id_filetype").value;
                if(filetype=="NOTSELECTED"){
					var msg = "Please choose a file type from the ComboBox and drop same type of files to proceed!";
					showFileWarningMsg(msg);
					myDropzone.removeFile(file);
					return;
				}
				var instituion_id = document.getElementById("user_labs").value;
				var people_id = document.getElementById("user_names").value;
				
				var msg = 'Please confirm whether all files in the DropZone are  '
				if(filetype=="DATAFILE"){
					msg += 'data files?';
				}
				else{
					msg += 'protocol files?';
				}
				msg += '\nIf not, refresh this page and drop only the same type of files to proceed!'
						
				var header = '<div class="alert alert-info alert-warning"><h4 class="alert-heading">Confirmation!</h4></div>';
				var todo = '';
				var msginfo = '<div><h5><b>' + msg + '</b></h5></div>';
				var content = header + todo + msginfo;
				$.messager.confirm({
				    title: 'File uploading...',
					msg: content,
					width: 500,
					fn: function(r){
						if (r){
							var msg = 'Uploading files to the server...'
							var msginfo = '<div><h5><b>' + msg + '</b></h5></div>';
							var win = $.messager.progress({
								title:'Please wait ...',
								msg: msginfo,
								interval: 0,
								width: 500
							});
							myDropzone.on("sending", function (file, xhr, formData) {
								var md5 = getFileCecksum2(file.name);
								formData.append("md5", md5);
								formData.append("filetype", filetype);
								formData.append("instituion_id", instituion_id);
								formData.append("people_id", people_id);
							});
						    myDropzone.processQueue();
						}
						else{
							return;
						}
						return;
					}
				});
		    });
		    this.on("addedfile", function(file) {
				addDatafile(file, this);
		    });
		    this.on("complete", function(file) {
		    });
					
		    this.on("success", function(file, serverResponse) {
				var obj = jQuery.parseJSON(serverResponse);
				var newrow = obj.newrow;
				var status = obj.status;
		        var msg = obj.msg;
				var prog = updateDatafileRow(file.name, newrow);
				var bar = $.messager.progress('bar');  
				bar.progressbar('setValue', prog);  
				myDropzone.removeFile(file);
				
				if(prog==100){
					$.messager.progress('close');
				}
				return;
				if(status==1){
					updateDatafileRow(file.name, newrow);
				}
				else {
					updateDatafileRow(file.name, newrow);
				}
		    });
		    this.on("error", function(file, errorMessage) {
				alert(errorMessage);
		    });
		    this.on("queuecomplete", function(file) {
				uploadFilesIntoSeek_v2("/seek/datafiles/uploadtoseek/");
		    });
		    this.on("totaluploadprogress", function(totaluploadprogress) {
		    });
        }
    };
</script>	
	<div class="row">
		<article class="col-sm-12">
			<h5><span class="label label-warning">Notes for uploading files:</span></h5>
			<p>
				<ol>
					<li>Select if you are uploading data files or protocol files:</B>
						<select id="id_filetype" name="filetype" style="width:240px;height:24px" onchange="">
							<option value="NOTSELECTED" selected="selected"></option>
							<option value="DATAFILE">Data files</option>
							<option value="SOP">Protocols</option>
						</select>
					</li>
					<li>Select the creator's lab and name if you are the data curator:</B>
						<input id="user_labs" class="easyui-combobox" name="user_labs" style="width:20%;" data-options="
							showItemIcon: true,
							data: lab_options,
							valueField:'id',
							textField:'title',
							groupField:'group',
                            editable: true,
                            filter: function(q, row){ var opts = $(this).combobox('options'); return row[opts.textField].toUpperCase().indexOf(q.toUpperCase()) >= 0;},
                            onFocus: function() {$(this).combobox('showPanel');},
							panelHeight:'auto',
							label: '',
							labelPosition: 'top',
							onSelect: function(rec){
								getLabUsers(rec);
							}
						">
						<input id="user_names" class="easyui-combobox" name="user_names" style="width:20%;" data-options="
							showItemIcon: true,
							valueField:'id',
							textField:'title',
							editable: false,
							panelHeight:'auto',
							label: '',
							labelPosition: 'top',
							onSelect: function(rec){
								;
							}
						">	
					</li>
					
					<li>Click the submit button until all files are uploaded.</li>
				</ol>
			</p>
			
			<div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-0" data-widget-editbutton="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-cloud"></i> </span>
					<h2>File Dropzone! </h2>
				</header>
				<div>
					<div class="jarviswidget-editbox">
					</div>
					<div class="widget-body">
						<form id="my-awesome-dropzone" action="/seek/datafiles/batchupload/" method="post" enctype="multipart/form-data" class="dropzone needsclick" style="min-height: 7rem;">	
							{% csrf_token %}
                            <div class="dz-message needsclick">
								<i class="glyphicon glyphicon-cloud-upload"></i>
								<br>
                                <span class="text-uppercase">Drop files here or click to upload.</span>
							</div>
                        </form>
						<br/>
						<button id="submit-all">
							Submit
						</button>
					</div>
				</div>
			</div>
			<h5><span class="label label-warning">Notes after files uploaded:</span></h5>
			<p>
				<ol>
					<li>Click the web url in the table below to download and confirm that file is correct;</li>
					<li>Click the checkBox in the table to make your files verified.</li>
					<li>Use the UID of a file for your assay sheet to connect the file with samples.</li>
					<li>To find files uploaded into the database, use the <a href='/seek/datafile/query/' target='_blank'>Data File Query</a> page or <a href='/seek/sop/query/' target='_blank'>Protocol File Query</a> page.</li>
				</ol>
			</p>
		</article>
	</div>
	
<div id="datafile_tab" class="easyui-tabs" style="width:auto;height:560px;">
    <div title="Upload data files" data-options="closable:false" style="padding:20px;display:none;">
		<div class="easyui-layout" style="width:auto;height:560px;">
		    <div data-options="region:'north',border:false" style="height: 2px;">
	        </div>
	        <div data-options="region:'center',border:false" style="width:auto; height:300px;">
	            {% include "pages/datafile_table.embed.html" %} 
	        </div>
	        <div data-options="region:'south',border:false" style="width:auto; height:200px;">
				<div class="well">
					<div class="span12">
						<B>Logs: </B>
					</div>
					<div class="span12">
						<textarea id="messages" style="width:100%; max-width:100%; min-width:600px" rows="6"></textarea>
					</div>
				</div>
	        </div>
		</div>
    </div>
</div>

{% endblock %}
