{% extends "base.html" %}
{% block main %}
{% load markdownify %}

<div>
  <h1>{{ title }}</h1>
  <hr style="border:1px solid black;">
  <div style="display:grid;grid-template-columns: 1fr 3fr;gap:1em;">
    <img alt="{{ title }} avatar" style="max-height:100%;max-width:100%;object-fit:contain;aspect-ratio:1;" src="https://{{ seek_hostname }}/assets/avatar-images/{{ avatar_id }}-500.png"/>
    <p> {{ description | markdownify | linebreaksbr }} </p>
  </div>

  <h2>Project Statistics</h2>
  <table style="border:1px solid black;">
    <thead>
      <th style="padding:0 5px;">Group</th>
      <th style="padding:0 5px;">Data Type</th>
      <th style="padding:0 5px;">Local Count</th>
      <th style="padding:0 5px;">Published Count</th>
      <th style="padding:0 5px;">Local Total</th>
      <th style="padding:0 5px;">Published Total</th>
    </thead>
    <tbody>
      {% for clade_list in clade_data %}
        {% for clade in clade_list %}
          <tr style="background-color: {{clade.color}}; color: black;">
            {% if forloop.first %}
              <td style="padding:0 5px;" rowspan="{{ clade_list | length }}"> {{ clade.title }} </td>
            {% endif %}
            <td style="padding:0 5px;"> {{ clade.st_group }} </td>
            <td style="padding:0 5px;"> {{ clade.count }} </td>
            <td style="padding:0 5px;">{{ clade.published }}</td>
            {% if forloop.first %}
              <td style="padding:0 5px;" rowspan="{{ clade_list | length }}"> {{ clade.total }} </td>
              <td style="padding:0 5px;" rowspan="{{ clade_list | length }}"> {{ clade.published_total }} </td>
            {% endif %}
          </tr>
        {% endfor %}
      {% endfor %}
    <tbody>
  </table>
</div>

{% endblock %}
