{% extends "base.html" %}
{% block extra_head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DMAC Timeline</title>
    <!-- Base tag for proper routing with BrowserRouter -->
    <base href="/" />
    <script type="module" crossorigin src="/static/js/sample_timeline/assets/index-C0uDe4fZ.js"></script>
    <link rel="stylesheet" crossorigin href="/static/js/sample_timeline/assets/index-B2F8_Ut-.css">
{% endblock %}
{% block main %}
    <div id="root"></div>
{% endblock %}
