{% extends "base.html" %}
{% load static %}
{% block title %}Sample Timeline - NExtSEEK{% endblock %}

{% block extra_head %}
<script type="module" crossorigin src="{% static 'js/sample_timeline/assets/js/index-CuCgNdMs.js' %}"></script>
<link rel="modulepreload" crossorigin href="{% static 'js/sample_timeline/assets/js/react-vendor-Do3KTdZX.js' %}">
<link rel="modulepreload" crossorigin href="{% static 'js/sample_timeline/assets/js/timeline-vendor-nKglPnfE.js' %}">
<link rel="modulepreload" crossorigin href="{% static 'js/sample_timeline/assets/js/mui-vendor-BdEjCsjk.js' %}">
<link rel="modulepreload" crossorigin href="{% static 'js/sample_timeline/assets/js/animation-B5UqUtY4.js' %}">
<link rel="stylesheet" crossorigin href="{% static 'js/sample_timeline/assets/asset/style-DlAoHTdd.css' %}">
<style>
#timeline-root {
    width: 100%;
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - 3rem);
}
</style>
{% endblock %}

{% block main %}
<div id="root" id="timeline-root"></div>
{% endblock %}
