{% extends "base.html" %}
{% include "pages/seek_includes.html" %} 
{% block main %}
<div id="sample_tab" class="easyui-tabs" style="width:auto;height:900px;">
    <div title="Sample Deletion" data-options="closable:false" style="overflow:auto;padding:20px;display:none;">
	<div class="easyui-layout" style="width:auto;height:900px;">
	    <div id="north_div" data-options="region:'north',border:false" style="height: 200px;">
	    </div>
            <div id="center_div" data-options="region:'center',border:false" style="height: 300px;">
                {% include "pages/samples_stable.embed.html" %}
	    </div>
            <div id="center_div" data-options="region:'south',border:false" style="height: 300px;">
		{% autoescape off %}
		{{ bodyhtml }}
		{% endautoescape %}
	    </div>
	</div>
    </div>
</div>
{% endblock %}
