<script type="text/javascript" src="{{STATIC_URL}}js/easyui/datagrid-filter.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/easyui/datagrid-export.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/custom/datagrid-custom.js"></script>

<script type="text/javascript">
$(function(){
    var dg = $('#dgDmac').datagrid();
    dg.datagrid('enableFilter', []);
	$('#dlg').dialog('close');
});

var positions = [
    ];
var coptions = [
    ];

var eoptions = [
    ];
</script>

<style type="text/css">
    .datagrid-row-alt{
        background: #e6f2ff;
    }
</style>

	<div style="margin:20px 0;"></div>
	<table id="dgDmac" class="easyui-datagrid" title="" style="width:1620px; height:700px;"
		data-options="
		    iconCls: 'icon-edit',
		    singleSelect: true,
		    url:'/dmac/dmac/',
		    method:'get',
		    toolbar: '#dmac_tb',
		    striped: true,
		    pagination : true,
		    remoteFilter: true,
		    pageSize:50,
		    onClickCell: onClickCell,
		    onEndEdit: onEndEdit,
		    showFooter:false
		">
		<thead>
			<tr>
				<th data-options="field:'name',width:80,editor:'text'" sortable="true"><B>Name</B></th>
				<th data-options="field:'position',align:'left',width:80,
						formatter:function(value,row){
							return row.position;
						},
						editor:{
							type:'combobox',
							options:{
								valueField:'positionid',
								textField:'positionname',
								data:positions,
								required:false
							}
						}"><B>Position</B></th>
				<th data-options="field:'etype',align:'center',width:60,
						formatter:function(value,row){
							return row.etype;
						},
						editor:{
							type:'combobox',
							options:{
								valueField:'eoption',
								textField:'eoption',
								data:eoptions,
								required:false
							}
						}"><B>Type</B></th>
				<th data-options="field:'erelated',align:'center',width:50,
						formatter:function(value,row){
							return row.erelated;
						},
						editor:{
							type:'combobox',
							options:{
								valueField:'coption',
								textField:'coption',
								data:coptions,
								required:false
							}
						}"><B>Cancer<br/>Related</B></th>
			</tr>
		</thead>
	</table>
	<div id="dmac_tb" style="height:auto">
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="append($('#dgDmac'))">Add a sample</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="removeit($('#dgDmac'), '/dmac/delete/')">Remove a sample</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="accept($('#dgDmac'), '/dmac/save/')">Save a sample</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" onclick="reject($('#dgDmac'))">Cancel</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-reload',plain:true" onclick="uploadDialogue($('#dlg'))">Batch Upload</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="downloadTablePresent($('#dgDmac'), '/dmac/download/')">Download table</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="downloadTableAll($('#dgDmac'), '/dmac/download/')">Download all records</a>
	
	</div>

<div id="dlg" class="easyui-dialog" title="Batch uploading ..."  style="width:800px;height:240px;max-width:600px;padding:10px" data-options="closed:true">
	<div style="padding:5px 5px 5px 5px">
		<p><b>Batch upload from an Excel file.</b></p>
		<!---hr/--->
		<p><b>Hint</b>: Only the first worksheet will be processed.</p>
		<p><a href="/static/media/download/template-batch-upload.xlsx" >Download a sample excel file</a> as a template.</p>
		<form id="batchupload_form" action="." method="post" enctype='multipart/form-data'>
		  {% csrf_token %}
			{{ form }}
			<table cellpadding="3" align="center">
				<tr>
					<td><B>Excel file name</B>:</td>
					<td>
						<input type="file" name="excelname" id="id_excelname" required style="height:28px;width:220px"/>
						<span class="help-inline">required</span>
					</td>
				</tr>
			</table>
			<div style="text-align:center;padding:5px">
				<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-reload',plain:true" onclick="upload($('#dlg'), '/dmac/upload/')">Upload</a>
				<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true" onclick="cancelDialogue($('#dlg'))">Cancel</a>
			</div>

		</form>
	</div>
</div>		