LOG_DIR="outputs"
CATALOG_FILE="agent_model_catalog.json"
CONTEXT_DIR="src/chat_nextseek/context"
PROMPTS_DIR="src/chat_nextseek/prompts"
GCP_API_KEY="KEY"
NEXTSEEK_BASE_URL="https://nextseek-dev.mit.edu/"
API_USER="USER"
API_PASS="PASSWORD"

SESSION_DB_TYPE="sqlite"
SESSION_DB_PATH="db.sqlite"
