<script type="text/javascript">
	var template_options = {{report.template_options|safe}};
	
	function showSampleErrorMsg(errorMsg) {
		var header = '<div class="alert alert-danger alert-block"><h4 class="alert-heading">Sample Upload Failed!</h4></div>';
		var todo = '<div><h5><b>Please upload the array sheet again and refer to the excel file returned to fix any error highlighted.</b></h5></div>';
		var msginfo = '<div><h5>' + errorMsg + '</h5></div>';
		var content = header + todo + msginfo;
		$.messager.alert({
			title: 'Sample uploading...',
			msg: content,
			icon: 'error',
			width: 500
		});
		return;
	}
	
	function showSampleWarningMsg(warningMsg) {
		var header = '<div class="alert alert-block alert-warning"><h4 class="alert-heading">Warning!</h4></div>';
		var todo = '<div><h5><b>The array sheet has been uploaded with the following warning message:</b></h5></div>';
		var msginfo = '<div><h5>' + warningMsg + '</h5></div>';
		var content = header + todo + msginfo;
		$.messager.alert({
			title: 'Sample uploading...',
			msg: content,
			icon: 'warning',
			width: 500
		});
		return;
	}
	
	function showSampleInfoMsg(infoMsg) {
		var header = '<div class="alert alert-info alert-block"><h4 class="alert-heading">Info!</h4></div>';
		var todo = '<div><h5><b>The array sheet has been uploaded successfully. Refer to the excel file returned for sample UIDs.</b></h5></div>';
		var msginfo = '<div><h5>' + infoMsg + '</h5></div>';
		var content = header + todo + msginfo;
		$.messager.alert({
			title: 'Sample uploading...',
			msg: content,
			icon: 'info',
			width: 500
		});
		return;
	}
	
	function downloadTemplate() {
		var document_id = document.getElementById("sample_template").value;
		var url = '/seek/document/id=' + document_id + '/';
		$.get(url,
			{
			},
			function(data){
				var obj = jQuery.parseJSON(data);
				var msg = obj.msg;
				$('#messages').text(msg);
				var status = obj.status;
				var link = obj.link;
				if(status){
					window.location.href = link;
				}
				else{
				}
				return;
			}
        );	
		return;
	}
	
	function displayTemplate(rec) {
		var url = '/seek/sample_types/id=' + rec.id + '/';
		if(rec.id==0){
			return;
		}
		else{
		}
		return;
	}
	function uploadSamples(){
		var excelfile = document.getElementById('id_sampleexcelname').files[0];
		if (!excelfile) {
			alert("Warning: No valid sample sheet in excel is selected.");
			return;
		}
		
		var instituion_id = document.getElementById("user_labs").value;
		var people_id = document.getElementById("user_names").value;
		var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
		var formdata = new FormData($('form').get(0));
		formdata.append('excelfile_upload', excelfile);
		formdata.append('filename', excelfile.name);
		formdata.append("instituion_id", instituion_id);
		formdata.append("people_id", people_id);
		formdata.append('csrfmiddlewaretoken', '{{csrf_token}}');
		$.ajax('/seek/sampleupload/',
			{
				type: 'POST',
				enctype: "multipart/form-data",
				data: formdata,
				processData: false,
				contentType: false,
				success: console.log('success!')
			}
		)
		.done(function( data ) {
			var obj = jQuery.parseJSON(data);
			var msg = obj.msg;
			var message = obj.message;
			$('#messages').text(message);
			var status = obj.status;
			var link = obj.link;
			if(status>0){
				showSampleInfoMsg(msg);
			}
			else if(status==0){
				showSampleErrorMsg(msg);
			}
			else{
				showSampleWarningMsg(msg);
			}
			if(link){
				window.location.href = link;
			}
		});
		return;
	}

	function showSampleValidationInfoMsg(infoMsg) {
		var header = '<div class="alert alert-info alert-block"><h4 class="alert-heading">Info!</h4></div>';
		var todo = '<div><h5><b>The array sheet has been validated successfully.</b></h5></div>';
		var msginfo = '<div><h5>' + infoMsg + '</h5></div>';
		var content = header + todo + msginfo;
		$.messager.alert({
			title: 'Sample validated...',
			msg: content,
			icon: 'info',
			width: 500
		});
		return;
	}

	function showSampleValidationErrorMsg(infoMsg) {
		var header = '<div class="alert alert-info alert-block"><h4 class="alert-heading">Info!</h4></div>';
		var todo = '<div><h5><b>The array sheet has failed validation.</b></h5></div>';
		var msginfo = '<div><h5>' + infoMsg + '</h5></div>';
		var content = header + todo + msginfo;
		$.messager.alert({
			title: 'Sample validated...',
			msg: content,
			icon: 'info',
			width: 500
		});
		return;
	}

	function validateSamples(rec) {
		var excelfile = document.getElementById('id_samplevalidationfile').files[0];
		if (!excelfile) {
			alert("Warning: No valid sample sheet in excel is selected.");
			return;
		}
		
		var formdata = new FormData($('form').get(0));
		formdata.append('excelfile_upload', excelfile);
		formdata.append('csrfmiddlewaretoken', '{{csrf_token}}');
		$.ajax('/seek/samplesvalidate/',
			{
				type: 'POST',
				enctype: "multipart/form-data",
				data: formdata,
				processData: false,
				contentType: false,
				success: console.log('success!')
			}
		)
		.done(function( data ) {
			var obj = jQuery.parseJSON(data);
			var msg = obj.msg;
			var message = obj.message;
			$('#messages').text(message);
			var status = obj.status;
			var link = obj.link;
			if(status==0){
				showSampleErrorMsg(msg);
			}
			if(link){
				window.location.href = link;
			}
		});
		return;
	}
	
	var lab_options = {{report.lab_options|safe}};
	
	function getLabUsers(rec) {
		if(rec.id==0){
			return;
		}
		else{
		}
		var url = '/seek/instituion/id=' + rec.id + '/';
		$.get(url,
			{},
			function(data){
				var obj = jQuery.parseJSON(data);
                var msg = obj.msg;
				var status = obj.status;
				if(status==1){
					var user_options = obj.userOptions;
					$('#user_names').combobox('loadData', user_options);
				}
				else {
					alert(msg);
				}
				return;
			}
        );	
	}
</script>

	<div class="span12">
		<form method="post" enctype="multipart/form-data" action="">
			{% csrf_token %} 
            <script type="text/javascript">
                $(document).ready(function() {
                    const lab = document.querySelector('#_easyui_textbox_input1');
                    lab.addEventListener('click', function() {
                      $('#user_labs').combobox('showPanel')
                    });
                }); 
            </script>
			<div class="well">
				<div class="row show-grid">
					<table class="table" align="center" style="width:70%">
						<thead>
							<tr>
								<th style="width:40%;">Sample Validation Check</th>
								<th style="width:60%;">Sample Excel sheet for uploading</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<input type="file" name="samplevalidationfile" id="id_samplevalidationfile" required="" style="height:28px;width:220px"><br>
									<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="validateSamples()">Validate Samples</a>
								</td>
								<td>
									<input type="file" name="sampleexcelname" id="id_sampleexcelname" required="" style="height:28px;width:220px"><br>
									<label for="user_labs">Lab:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
									<input id="user_labs" class="easyui-combobox" name="user_labs" style="width:50%;"
										data-options="
											showItemIcon: true,
											data: lab_options,
											valueField:'id',
											textField:'title',
											groupField:'group',
                                            editable: true,
                                            filter: function(q, row) {
                                                var opts = $(this).combobox('options');
                                                return row[opts.textField].toUpperCase().indexOf(q.toUpperCase()) >= 0;
                                            },
											panelHeight:'auto',
											label: '',
											labelPosition: 'top',
											onSelect: function(rec){getLabUsers(rec);}
									">
									<br>
									<label for="user_names">Creator:&nbsp;&nbsp;</label>
									<input id="user_names" class="easyui-combobox" name="user_names" style="width:50%;"
										data-options="
											showItemIcon: true,
											valueField:'id',
											textField:'title',
											editable: false,
											panelHeight:'auto',
											label: '',
											labelPosition: 'top',
											onSelect: function(rec){ ; }
									">
									<br>
									<br>
									<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="uploadSamples()">Upload Samples</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</form>
	</div>

	<div class="well">
		<div class="span12">
			<b>Logs:</b>
		</div>
		<div class="span12">
			<textarea id="messages" style="width:100%; max-width:100%; min-width:600px" rows="20">
			</textarea>
		</div>
	</div>

