<script type="text/javascript">

	var type_options = {{report.type_options|safe}};

	function getAttributes(rec) {
		if (rec.id == 0) {
			return;
		} else {
		}
		var url = '/seek/attributes/id=' + rec.id + '/';
		$.get(url, {
			'valueSelected': 'yes'
		}, function(data) {
			var obj = jQuery.parseJSON(data);
			var msg = obj.msg;
			var status = obj.status;
			if (status == 1) {
				var attr_options = obj.attrOptions;
				$('#sample_attribute').combobox('loadData', attr_options);

				var valueSelected = obj.valueSelected;
				if (valueSelected == 'yes') {
					var datanow = obj.rows;
					$('#dg_atype').datagrid('loadData', datanow);
				}
			} else {
				alert(msg);
			}
			return;
		});
	}

	function getOperators(rec) {
		if (rec.attribute == 'none') {
			return;
		} else {
		}
		var sampletype_id = $('#sample_type').combobox('getValue');
		var attribute = rec.attribute;
		var url = '/seek/operators/';
		$.get(url, {
			'sampletype_id': sampletype_id,
			'attribute': attribute
		}, function(data) {
			var obj = jQuery.parseJSON(data);
			var msg = obj.msg;
			var status = obj.status;
			if (status == 1) {
				var filter_rule = obj.filter_rule;
				$('#filter_rule').combobox('loadData', filter_rule);
				var placeholder_start = obj.placeholder_start;
				document.getElementById("input_valueFrom").setAttribute('placeholder', placeholder_start);
				document.getElementById("input_valueFrom").setAttribute('value', '');
				var placeholder_end = obj.placeholder_end;
				document.getElementById("input_valueTo").setAttribute('placeholder', placeholder_end);
				document.getElementById("input_valueTo").setAttribute('value', '');
			} else {
				alert(msg);
			}
			return;
		});
	}

	function displaySamples(rec) {
		var url = '/seek/sample_types/id=' + rec.id + '/';
		if (rec.id == 0) {
			return;
		} else {
		}
		return;
		$.get(url, {}, function(data) {
			var obj = jQuery.parseJSON(data);
			return;
			var bodyhtml =
			datanow = obj.rows;
			var number = datanow.length;
			$('#dg_atype').datagrid('loadData', datanow);
			var numberSelected = 96;
			if (number < 96) {
				numberSelected = number;
			}
			document.getElementById('numberCellsSelected').innerHTML = numberSelected;

			for (var i = 0; i < numberSelected; i++) {
				$('#dg_atype').datagrid('selectRow', i);
			}

			var pager = $('#dg_atype').datagrid('getPager');
			pager.pagination({
				total: number,
				pageSize: number,
				pageList: [number]
			});
			return;
		});
	}

	function getSearchVariables() {
		var listdic = {};
		listdic["keywords"] = document.getElementById("searching").value;
		return listdic;
	}

	function jsonconvertdic(listdic) {
		var jsontry = JSON.stringify(listdic);
		return jsontry;
	}

	function searchSampleTypes() {
		var sampletype_id = $('#sample_type').combobox('getValue');
		if (sampletype_id == 0) {
			alert('No sample type is selected.');
			return;
		}
		var win = $.messager.progress({
			title: 'Please waiting',
			msg: 'Retrieving sample type...'
		});

		var attribute = $('#sample_attribute').combobox('getValue');
		$.get('/seek/samples/retrieveType/', {
			'sampletype_id': sampletype_id,
			'attribute': attribute
		}, function(data) {
			$.messager.progress('close');
			var obj = jQuery.parseJSON(data);
			var msg = obj.msg;
			var status = obj.status;
			if (status == 1) {
				var datanow = obj.rows;
				var total = obj.total;

				$('#dg_atype').datagrid('loadData', datanow);
				var pager = $('#dg_atype').datagrid('getPager');
				pager.pagination({
					showRefresh: false
				});
				pager.pagination({
					total: total,
					pageSize: total,
					pageList: [total]
				});
			} else {
				alert(msg);
			}
			return;
		});
	}
</script>

<div class="span12">
	<form method="post" enctype="multipart/form-data" action="">
		{% csrf_token %}	
	<div class="well">
		<div class="row show-grid">
			<table class="table" align="center" style="width:80%" >
				<thead>
					<tr>
						<th>Sample Type:</th>
					</tr>
				</thead>
				<tbody>
    <script type="text/javascript">
        $(document).ready(function() {
            const sampleType = document.querySelector('#_easyui_textbox_input1');
            sampleType.addEventListener('click', function() {
              $('#sample_type').combobox('showPanel')
            });
        }); 
    </script>
					<tr>
						<td>
							<input id="sample_type" class="easyui-combobox" name="sample_type" style="width:100%;" data-options="
								showItemIcon: true,
								data: type_options,
								valueField:'id',
								textField:'title',
								groupField:'group',
								editable: true,
                                filter: function(q, row) {
                                    var opts = $(this).combobox('options');
                                    return row[opts.textField].indexOf(q) == 0;
                                },
								panelHeight:'auto',
								label: '',
								labelPosition: 'top',
								onSelect: function(rec){
									getAttributes(rec);
								}
							">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row show-grid">
			<div class="col-xs-6 col-sm-4 col-md-4">
			</div>
			<div class="col-xs-6 col-sm-4 col-md-4">
			</div>
			<div class="col-xs-6 col-sm-4 col-md-4">
			</div>
		</div>
	</div>
	</form>
</div>


