<script type="text/javascript">
	var type_options = {{report.type_options|safe}};

	function simple_getAttributes(rec) {
		if (rec.id == 0) {
			return;
		} else {
		}
		var url = '/seek/attributes/id=' + rec.id + '/';
		$.get(url, {}, function(data) {
			var obj = jQuery.parseJSON(data);
			var msg = obj.msg;
			var status = obj.status;
			if (status == 1) {
				var attr_options = obj.attrOptions;
				$('#simple_sample_attribute').combobox('loadData', attr_options);
			} else {
				alert(msg);
			}
			return;
		});
	}

	function simple_getOperators(rec) {
		if (rec.attribute == 'none') {
			return;
		} else {
		}
		var sampletype_id = $('#simple_sample_type').combobox('getValue');
		var attribute = rec.attribute;
		var url = '/seek/operators/';
		$.get(url, {
			'sampletype_id': sampletype_id,
			'attribute': attribute
		}, function(data) {
			var obj = jQuery.parseJSON(data);
			var msg = obj.msg;
			var status = obj.status;
			if (status == 1) {
				var filter_rule = obj.filter_rule;
				$('#filter_rule').combobox('loadData', filter_rule);
				var placeholder_start = obj.placeholder_start;
				document.getElementById("input_valueFrom").setAttribute('placeholder', placeholder_start);
				document.getElementById("input_valueFrom").setAttribute('value', '');
				var placeholder_end = obj.placeholder_end;
				document.getElementById("input_valueTo").setAttribute('placeholder', placeholder_end);
				document.getElementById("input_valueTo").setAttribute('value', '');
			} else {
				alert(msg);
			}
			return;
		});
	}

	function simple_displaySamples(rec) {
		alert(rec.id);
		var url = '/seek/sample_types/id=' + rec.id + '/';
		if (rec.id == 0) {
			return;
		} else {
		}
		return;
	}

	function simple_getSearchVariables() {
		var listdic = {};
		listdic["keywords"] = document.getElementById("searching").value;
		return listdic;
	}

	function simple_jsonconvertdic(listdic) {
		var jsontry = JSON.stringify(listdic);
		return jsontry;
	}

	function simple_searchSamples() {
		var sampletype_id = $('#simple_sample_type').combobox('getValue');
		if (sampletype_id == 0) {
			alert('No sample type is selected.');
			return;
		}
		var win = $.messager.progress({
			title: 'Please waiting',
			msg: 'Searching for samples...'
		});

		var attribute = $('#simple_sample_attribute').combobox('getValue');
		var filter_rule = $('#filter_rule').combobox('getValue');
		var filter_valueFrom = document.getElementById("input_valueFrom").value;
		var filter_valueTo = document.getElementById("input_valueTo").value;
		$.get('/seek/samples/searching/', {
			'sampletype_id': sampletype_id,
			'attribute': attribute,
			'filter_rule': filter_rule,
			'filter_valueFrom': filter_valueFrom,
			'filter_valueTo': filter_valueTo
		}, function(data) {
			$.messager.progress('close');
			var obj = jQuery.parseJSON(data);
			var msg = obj.msg;
			var status = obj.status;
			if (status == 1) {
				var datanow = obj.rows;
				var total = obj.total;
				$('#simple_dgtable').datagrid('loadData', datanow);
				var pager = $('#simple_dgtable').datagrid('getPager');
				pager.pagination({
					showRefresh: false
				});
				pager.pagination({
					total: total,
					pageSize: total,
					pageList: [total]
				});
			} else {
				alert(msg);
			}
			return;
		});
	}
</script>

<div class="span12">
	<form method="post" enctype="multipart/form-data" action="">
		{% csrf_token %}
		<div class="well">
			<div class="row show-grid">
				<table class="table" align="center" style="width:80%">
					<thead>
						<tr>
							<th>Sample Type:</th>
							<th>Sample Attribute:</th>
							<th>Operator:</th>
							<th>From:</th>
							<th>To:</th>
						</tr>
					</thead>
					<tbody>
						<tr>
                            <td><input id="simple_sample_type" class="easyui-combobox" name="simple_sample_type" style="width:100%;" data-options="showItemIcon: true, data: type_options, valueField:'id', textField:'title', groupField:'group', editable: true, filter: function(q, row){ var opts = $(this).combobox('options'); return row[opts.textField].toUpperCase().indexOf(q.toUpperCase()) >= 0;}, panelHeight:'auto', label: '', labelPosition: 'top', onSelect: function(rec){ simple_getAttributes(rec); }, onFocus: function() {$(this).combobox('showPanel');}"></td>
<script type="text/javascript">
        $(document).ready(function() {
            const sampleType = document.getElementsByName('simple_sample_type')[0].previousElementSibling
            const sampleAttribute = document.getElementsByName('simple_sample_attribute')[0].previousElementSibling
            sampleType.addEventListener('click', function() {
              console.log('Sample Type Clicked!');
              $('#simple_sample_type').combobox('showPanel')
            });
            sampleAttribute.addEventListener('click', function() {
              console.log('Sample Attributes clicked!');
              $('#simple_sample_attribute').combobox('showPanel')
            });
        }); 
</script>
<td><input id="simple_sample_attribute" class="easyui-combobox" name="simple_sample_attribute" style="width:100%;" data-options="showItemIcon: true, valueField:'attribute', textField:'name', editable: true, filter: function(q, row){ var opts = $(this).combobox('options'); return row[opts.textField].toUpperCase().indexOf(q.toUpperCase()) >= 0;}, panelHeight:'auto', label: '', labelPosition: 'top', onSelect: function(rec){ simple_getOperators(rec); }"></td>
							<td><input id="filter_rule" class="easyui-combobox" name="filter_rule" style="width:100%;" data-options="showItemIcon: true, valueField:'name', textField:'operator', editable: false, panelHeight:'auto', label: '', labelPosition: 'top', onSelect: function(rec){ }"></td>
							<td><input id="input_valueFrom" label="" labelposition="left" value="" placeholder="start value" style="width:150px;height:30px"></td>
							<td><input id="input_valueTo" label="" labelposition="left" value="" placeholder="end value" style="width:150px;height:30px"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row show-grid">
				<div class="col-xs-12" style="text-align:center;">
					<span class="ns-search-actions">
						<a href="javascript:void(0)" class="ns-btn-reset" onclick="nsResetSearch($('#simple_dgtable'), ['#simple_sample_type','#simple_sample_attribute','#filter_rule','#input_valueFrom','#input_valueTo'])">Reset</a>
						<a href="javascript:void(0)" class="ns-btn-search" onclick="simple_searchSamples()"><span class="glyphicon glyphicon-search"></span> Search</a>
					</span>
				</div>
			</div>
		</div>
	</form>
</div>


