<script type="text/javascript" src="{{STATIC_URL}}js/easyui/datagrid-filter.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/easyui/datagrid-export.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/custom/datagrid-custom.js"></script>
<script type="text/javascript">
$(document).ready(function(){
});

$(function(){
    var dg = $('#dg_atype').datagrid();
});

	var sample_attribute_types = {{ report.attribute_types_options|safe }};
	
	function saveSelectedIntoDB(dg, url_save) {
		var sample_type_id = $('#sample_type').combobox('getValue');
		if(sample_type_id==0){
			alert('No sample type is selected.');
			return;
		}
		var records = [];
		var rows = dg.datagrid('getChanges');
		if (rows.length==0){
			alert("You have not entered any new person!");
			return false;
		}
		for(var i=0; i<rows.length; i++){
			var row = rows[i];
			var record = {}
			for(var key in row) {
				var value = row[key];
				record[key] = value;
			}
			record['sample_type_id'] = sample_type_id;
			records.push(record);
		}
		var msg = 'You have entered '
			+ rows.length
			+ ' records for saving. Do you really want to save the change?'
			+ '?';
		$.messager.confirm('Saving record', msg, function(r){
			if (r){
			}
			else{
				return false;
			}
							
			var win = $.messager.progress({
				title:'Please waiting',
				msg:'Saving record ...'
			});
			$.get(url_save,
				{
					records: JSON.stringify(records),
					sampletype_id: sample_type_id
				},
				function(data){
					$.messager.progress('close');
					var obj = jQuery.parseJSON(data);
					var msg = obj.msg;
					var link = obj.link;
					var status = obj.status;
					if(!status){
						var msg2 = "Error in saving record. <br/><br/>";
						msg2 += msg;
						alert(msg);
						window.location.href = link;
						return false;
					} 
					else{
						$.messager.alert('Saving record',msg,'info');
					}
					window.location.href = link;
					return true;
				}
			);
			return true;
		});
		return true;
	}
</script>
<style type="text/css">
  .datagrid-row-alt{
        background: #e6f2ff;
    }
</style>
<div id="sample_table_div" style="height:auto">
	<div style="margin:20px 0;"></div>
	<table id="dg_atype" class="easyui-datagrid" title="" style="width:auto; height:680px;"
			data-options="
				iconCls: 'icon-edit',
				singleSelect: true,
				selectOnCheck: false,
				url:'',
				method:'get',
				toolbar: '#tb_toolbar',
				striped: true,
				pagination : false,
				pageSize:50,
		        onClickCell: onClickCell,
		        onEndEdit: onEndEdit,
				showFooter: false,
				remoteFilter: false
			">
		<thead>
			<tr>
				<th data-options="field:'id',width:60"><B>ID</B></th>
				<th data-options="field:'pos',width:60,editor:'text'"><B>Position</B></th>
				<th data-options="field:'title',width:200,editor:'text'"><B>Name</B></th>
				<th data-options="field:'sample_attribute_type_title',width:200,
						formatter:function(value,row){
							return row.sample_attribute_type_title;
						},
						editor:{
							type:'combobox',
							options:{
								valueField:'sample_attribute_type_id',
								textField:'sample_attribute_type_title',
								data:sample_attribute_types,
								required:true
							}
						}"><B>Type</B></th>
				<th data-options="field:'required',width:100, editor:{type:'checkbox',options:{on:1,off:0}}"><B>Required?</B></th>
				<th data-options="field:'is_title',width:120, editor:{type:'checkbox',options:{on:1,off:0}}"><B>Is title</B></th>
				<th data-options="field:'sample_controlled_vocab_id',align:'left',width:250,editor:'text'"><B>Controlled Vocab</B></th>
				<th data-options="field:'description',align:'left',width:420"><B>Definition</B></th>
			</tr>
		</thead>
	</table>
	<div id="tb_toolbar" style="height:auto">
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="append($('#dg_atype'))">Add an attribute</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="removeit($('#dg_atype'), '/seek/attribute/delete/')">Remove an attribute</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="accept($('#dg_atype'), '/seek/attribute/save/')">Save an attribute</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" onclick="reject($('#dg_atype'))">Cancel</a>
    </div>
</div>
