<script type="text/javascript" src="{{STATIC_URL}}js/easyui/datagrid-filter.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/easyui/datagrid-export.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/custom/datagrid-custom.js"></script>
<script type="text/javascript">

	$(document).ready(function () {
		$('#simple_dgtable').datagrid({
			onCheck: function (index, row) {
				row.ck = true;
			},
			onUncheck: function (index, row) {
				row.ck = false;
			},
			onCheckAll: function () {
				var rows = $(this).datagrid('getRows');
				for (var i = 0; i < rows.length; i++) {
					var row = rows[i];
					row.ck = true;
				}
			},
			onUncheckAll: function () {
				var rows = $(this).datagrid('getRows');
				for (var i = 0; i < rows.length; i++) {
					var row = rows[i];
					row.ck = false;
				}
			}
		})
	});

	$(function () {
		var dg = $('#simple_dgtable');
		nsEnableColumnFilters(
			dg,
			['uid', 'sample_type', 'assays', 'first_name', 'attributeValue'],
			['ck', 'id']
		);
	});

	function simple_downloadSamples(dg, url_download) {
		var includeSampleTree = 0;
		if (url_download == '/seek/samples/download/') {
			$.messager.confirm({
				title: 'Download Samples...',
				msg: 'Include all associated samples?',
				ok: 'Yes',
				cancel: 'No',
				fn: function (r) {
					if (r) {
						includeSampleTree = 1;
					} else {
						includeSampleTree = 0;
					}
					return simple_downloadSamples_new(dg, url_download, includeSampleTree);
				}
			});
		} else {
			return simple_downloadSamples_new(dg, url_download, includeSampleTree);
		}
		return;
	}

	function simple_showSampleErrorMsg(errorMsg) {
		var header = '<div class="alert alert-danger alert-block"><h4 class="alert-heading">Sample export Failed!</h4></div>';
		var todo = '';
		var msginfo = '<div><h5>' + errorMsg + '</h5></div>';
		var content = header + todo + msginfo;
		$.messager.alert({
			title: 'Sample exporting...',
			msg: content,
			icon: 'error',
			width: 500
		});
		return;
	}

	function simple_downloadSamples_new(dg, url_download, includeSampleTree) {
		var sampletype_id = $('#simple_sample_type').combobox('getValue');
		if (sampletype_id == 0) {
			alert('No sample type is selected.');
			return;
		}

		var rows = dg.datagrid('getRows');
		if (rows.length == 0) {
			alert('No sample in the table is selected for download.');
			return;
		}

		var allIds = [];
        var allUids = "";
		for (var i = 0; i < rows.length; i++) {
			var row = rows[i];
			if (row.ck) {
				allIds.push(row.id);
                var regex = /(?<=>).*?(?=<)/g;
                uid = row.uid.match(regex)[0];
                allUids += uid + "\n";
			} else {
			}
		}

		if (allIds.length == 0 || allUids.length == 0) {
			alert('No sample in the table is selected for download.');
			return;
		}
		var attributeFilter = '';
		var allids = JSON.stringify(allIds);
		//var allUids = JSON.stringify(allUids);
		var win = $.messager.progress({
			title: 'Please wait',
			msg: 'Searching for samples...'
		});

        if (includeSampleTree == 1) {
            var new_retrieval_url = '/seek/admin/retrieve/';
            
            var formData = new FormData();
            formData.append("csrfmiddlewaretoken", '{{ csrf_token }}');
            formData.append("retrieval_uids", allUids);

            fetch(new_retrieval_url, {
                    method: 'POST',
                    headers: {"X-CSRFToken": "{{ csrf_token }}"},
                    body: formData,
                  })
              .then(response => {
                          if (response.ok) {
                            return response.blob();
                          } else {
                            $.messager.progress('close');
                            throw new Error('Download failed');
                          }
                        })
              .then(blob => {
                          $.messager.progress('close');
                          const downloadUrl = URL.createObjectURL(blob);
                          const a = document.createElement('a');
                          a.href = downloadUrl;
                          var d = new Date();
                          a.download = 'download-samples-' + d.getFullYear() + '-' + (d.getMonth() + 1) + "-" + d.getDate() + '_' + d.getHours() + '-' + d.getMinutes() + '.xlsx';
                          document.body.appendChild(a);
                          a.click();
                          setTimeout(() => {
                                        URL.revokeObjectURL(downloadUrl);
                                        document.body.removeChild(a);
                                      }, 0);
                        })
              .catch(error => {
                          console.error('Download error:', error);
                        });
        } else {
            $.post(url_download, {
            	'csrfmiddlewaretoken': '{{ csrf_token }}',
            	'allids': allids,
            	'sampletype_id': sampletype_id,
            	'includeSampleTree': includeSampleTree,
            	'attributeFilter': attributeFilter
            }, function (data) {
            	$.messager.progress('close');
            	var obj = jQuery.parseJSON(data);
            	var msg = obj.msg;
            	var status = obj.status;
            	var link = obj.link;
            	if (status == 1) {
            		window.location.href = link;
            	} else {
            		simple_showSampleErrorMsg(msg);
            	}
            	return;
            });
        }
	}

	function simple_deleteSamples(dg, url_delete) {
		var rows = dg.datagrid('getRows');
		if (rows.length == 0) {
			alert('No sample in the table is selected for deletion.');
			return;
		}
		var allIds = [];
		for (var i = 0; i < rows.length; i++) {
			var row = rows[i];
			if (row.ck) {
				allIds.push(row.id);
			} else {
			}
		}
		if (allIds.length == 0) {
			alert('No sample in the table is selected for deletion.');
			return;
		}
		var allids = JSON.stringify(allIds);
		var num = allIds.length;
		var n = num.toString();
		var msg = 'You have selected ' + n + ' samples for deletion.\n'
		msg += 'You must be the owner of samples or the administrator to proceed.'
		msg += 'Please type "DELETE" to confirm the deletion,\n'
		msg += 'which is not recoverable. '
		$.messager.prompt('Deleting samples', msg, function (r) {
			if (r) {
				if (r != 'DELETE') {
					alert('you type: ' + r + ', which must be "DELETE" to proceed.');
					return
				} else {
				}
			} else {
				return;
			}

			var win = $.messager.progress({
				title: 'Please waiting',
				msg: 'Deleting samples ...'
			});

			$.get(url_delete, {
				'allids': allids
			}, function (data) {
				$.messager.progress('close');
				var obj = jQuery.parseJSON(data);
				var msg = obj.msg;
				var status = obj.status;
				var link = obj.link;
				var diclist = obj.diclist;

				var dg = $('#simple_dgtable');
				var row = dg.datagrid('getSelected');
				var rows = dg.datagrid('getRows');

				for (var j = 0, len = rows.length; j < len; j++) {
					row = rows[j];
					var index = dg.datagrid('getRowIndex', row);
					for (var i = 0; i < diclist.length; i++) {
						var dici = diclist[i];
						var id = dici.id;
						var statusi = dici.statusi;
						if (rows[j]['id'] == id) {
							if (statusi == 'DELETED') {
								dg.datagrid('deleteRow', index);
							} else {
								dg.datagrid('updateRow', {
									index: index,
									row: {
										'json_metadata': dici.json_metadata
									}
								})
							}
						}
					}
				}
				if (status == 1) {
					window.location.href = link;
				} else {
					alert(msg);
				}
				return;
			});
			return;
		});
	}

	function simple_publishSamples(dg, url_publish) {
		return simple_publishSamplesAjax(dg, url_publish);
	}

	function simple_publishSamplesAjax(dg, url_publish) {
		var rows = dg.datagrid('getRows');
		if (rows.length == 0) {
			alert('No sample in the table is selected for publish.');
			return;
		}
		var allIds = [];
		for (var i = 0; i < rows.length; i++) {
			var row = rows[i];
			if (row.ck) {
				allIds.push(row.id);
			} else {
			}
		}
		if (allIds.length == 0) {
			alert('No sample in the table is selected for publish.');
			return;
		}

		var url = '/seek/samples/publishlist/' + allIds.toString() + '/';
		window.open(url);
		return;
	}

	function showTimeline(dg) {
		var url = '/seek/sample_timeline/';
		var rows = dg.datagrid('getRows');
		if (rows.length == 0) {
			alert('No sample in the table is selected. Please select a sample to view the timeline.');
			return;
		}

		var allUIds = [];
		for (var i = 0; i < rows.length; i++) {
			var row = rows[i];
			if (row.ck) {
				var match = row.uid.match(/<a[^>]*>([^<]*)<\/a>/);
				if (match && match[1]) {
					allUIds.push(match[1]);
				}
			}
		}
		if (allUIds.length == 0) {
			alert('No sample in the table is selected. Please select a sample to view the timeline.');
			return;
		}
		if (allUIds.length > 1) {
			alert('Multiple samples are selected. Please select a single sample to view the timeline.');
			return;
		}
		if (allUIds.length == 1) {
			var uid = allUIds[0];
			if (!uid.startsWith("NHP")) {
				alert('Please select a valid UID to view the timeline.');
				return;
			}
			if (!uid.includes("FLY")) {
				alert('Please select a valid UID to view the timeline.');
				return;
			}
			var url = '/seek/sample_timeline/' + uid + '/';
			window.open(url, '_blank');
			return;
		}
	}
</script>
<style type="text/css">
	.datagrid-row-alt {
		background: #e6f2ff;
	}

	.icon-timeline {
		background: url('{{STATIC_URL}}img/timeline-icon-external-link.png') no-repeat center center;
		width: 16px;
		/* Adjust size as needed */
		height: 16px;
		display: inline-block;
	}
</style>
<div id="sample_table_div" style="height: auto">
	<div style="margin: 20px 0;"></div>
	<table id="simple_dgtable" class="easyui - datagrid" title="" style="width: auto;height: 380px;" data-options="
				iconCls: 'icon-edit',
				singleSelect: true,
				selectOnCheck: false,
				url: '',
				method: 'get',
				toolbar: '#simple_tb_toolbar',
				striped: true,
				pagination: false,
				pageSize: 50,
				showFooter: false,
				multiSort: true,
				remoteFilter: false
			">
		<thead>
			<tr>
				<th
					data-options="field: 'ck', width: 100, align: 'center', checkbox: true, editor: { type: 'checkbox', options: { on: 'Y', off: 'N' } }">
					Select file</th>
				<th data-options="field: 'id', width: 30" sortable=" true"><b>ID</b></th>
				<th data-options="field: 'uid', width: 200, editor: 'text', formatter: nsEllipsisFormatter" sortable=" true"><b>UID</b></th>
				<!---th data-options="field: 'parent_uids', width: 200, editor: 'text'" sortable=" true"><b>Parent UIDs</b></th>
				<th data-options="field: 'created_at', align: 'left', width: 60"><b>Updated AT</b></th--->
				<th data-options="field: 'sample_type', width: 100, formatter: nsEllipsisFormatter" sortable=" true"><b>Sample Type</b></th>
				<th data-options="field: 'assays', width: 120, formatter: nsEllipsisFormatter" sortable=" true"><b>Assays</b></th>
				<th data-options="field: 'first_name', align: 'left', width: 100, formatter: nsEllipsisFormatter"><b>Contributor</b></th>
				<th data-options="field: 'attributeValue',align:'left',width:900, formatter: nsEllipsisFormatter"><b>Attribute:Value</b></th>
				<!---th data-options=" field: 'json_metadata', align: 'left', width: 900"><b>Meta Data</b></th--->
			</tr>
		</thead>
	</table>

	<div id="simple_tb_toolbar" style="height: auto">
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls: 'icon-save', plain: true"
			onclick="simple_downloadSamples($('#simple_dgtable'), '/seek/samples/download/')">Download samples</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls: 'icon-remove', plain: true"
			onclick="simple_deleteSamples($('#simple_dgtable'), '/seek/samples/delete/')">Delete samples</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls: 'icon-save', plain: true"
			onclick="simple_publishSamples($('#simple_dgtable'), '/seek/samples/publish/')">Publish samples to FairdomHub</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls: 'icon-save', plain: true"
			onclick="simple_downloadSamples($('#simple_dgtable'), '/seek/samples/export/')">Export samples to Import</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls: 'icon-timeline', plain: true"
			onclick="showTimeline($('#simple_dgtable'))">View Timeline</a>
	</div>
</div>
