<script type="text/javascript" src="{{STATIC_URL}}js/ns_sample_download.js"></script>
<style type="text/css">
	.TFtable{
		width:100%;
		border-collapse:collapse; 
	}
	.TFtable td{ 
		padding:7px; border:#4e95f4 1px solid;
	}
	.TFtable tr{
		background: #b8d1f3;
	}
	.TFtable tr:nth-child(odd){ 
		background: #e9f1fb;
	}
	.TFtable tr:nth-child(even){
		background: #fefefe;
	}
</style>

<div class="easyui-layout" style="width:auto;height:1500px;">
    <!--
    <div data-options="region:'north',border:true,split:true,hideCollapsedContent:false" title="Sample tree" style="overflow: scroll; width:auto; height:500px;">
		<div class="well" style="overflow: scroll;">
			{% include "pages/samples_tree.embed.html" %}
		</div>
	</div>
    -->
        <div data-options="region:'north',border:true,split:true,hideCollapsedContent:false" id="tree_tab" class="easyui-tabs" style="width:auto;height:600px">
            <div title="Sample Tree v2" data-options="closable:false" style="overflow:auto;display:none;">
                <div class="easyui-layout">
                    <div id="north_div">
                        <div class="well">
                            {% include "pages/samples_tree_new.embed.html" %}
                        </div>
                    </div>
                </div>	
            </div>
            <!-- <div title="Sample Tree v1" data-options="closable:false" style="overflow:auto;display:none;"> -->
                <!-- <div class="easyui-layout"> -->
                    <!-- <div id="center_div"> -->
                        <!-- <div class="well" style="overflow: scroll;"> -->
                            <!-- {% include "pages/samples_tree.embed.html" %} -->
                        <!-- </div> -->
                    <!-- </div> -->
                <!-- </div> -->	
            <!-- </div> -->
        </div>
    <br/>
    <div data-options="region:'center',split:true,border:true" title="Sample info" style="overflow: scroll; width:auto; height:500px;">
		<div class="well" style="overflow: scroll;">
        <button class="l-btn-left l-btn-icon-left" type="button"
                onclick="nsDownloadSamples(['{% for dici in report.sampleinfo %}{% if dici.attrname == 'UID' %}{{dici.attrvalue}}{% endif %}{% endfor %}'], {includeTree: true})">
            <span class="l-btn-text">Download All Samples</span>
            <span class="l-btn-icon icon-save"></span>
        </button>
			<div class="widget-body">
				<div class="widget-main">
					<div id="piechart-placeholder">
						<table class="TFtable">
							{% for dici in report.sampleinfo %}
							<tr>
								<td>{{dici.attrname}}</td>
								<td>{{dici.attrvalue|safe}}</td>
							</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
    
