<script type="text/javascript">
    function getTreeChecked(){
        var nodes = $('#atree').tree('getChecked');
        var s = '';
        for(var i=0; i<nodes.length; i++){
            if (s != '') s += ',';
			s += nodes[i].id;
        }
	return s;
    }
</script>
<br>
<p><b>Select sample attributes for download</b> (Attributes highlighted in red have different values between samples):</p>
<div class="well">
	<div class="row show-grid">
		<div class="col-xs-1 col-sm-1 col-md-1"></div>
		<div class="col-xs-10 col-sm-10 col-md-10">
			<ul id="atree" class="easyui-tree" data-options="url:'',method:'get',animate:true,checkbox:true"></ul>
		</div>
		<div class="col-xs-1 col-sm-1 col-md-1"></div>
	</div>
</div>
<div class="row show-grid">
	<div class="col-xs-6 col-sm-4 col-md-4"></div>
	<div class="col-xs-6 col-sm-4 col-md-4">
		<a href="#" class="easyui-linkbutton" onclick="downloadSamples($('#retrieval_dgtable'), '/seek/samples/download/')">Download samples</a>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-4"></div>
</div>
